C:\SomulApp\SomulApp\SomulApp.iOS\obj
C:\SomulApp\SomulApp\SomulApp.iOS\bin
C:\SomulApp\SomulApp\SomulApp.Android\obj
C:\SomulApp\SomulApp\SomulApp.Android\bin
C:\SomulApp\SomulApp\SomulApp.UWP
C:\SomulApp\.vs